[user]
	email = anonymus.aki@gmail.com
	name = Akianonymus
[push]
	default = simple
[color]
	ui = true
[format]
	signoff = true
[credential]
	helper = cache --timeout=999999
[merge]
	log = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[diff]
	noprefix = true
[log]
	follow = true

[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    features = decorations
    syntax-theme = Dracula
    plus-style = syntax "#003800"
    minus-style = syntax "#3f0001"

[url "git@github.com:"]
  pushInsteadOf = https://github.com/
  pushInsteadOf = git://github.com/
  insteadOf = https://github.com/
  insteadOf = git://github.com/
[url "git@gitlab.com:"]
  pushInsteadOf = https://gitlab.com/
  pushInsteadOf = git://gitlab.com/
  insteadOf = https://gitlab.com/
  insteadOf = git://gitlab.com/

